.App {
  text-align: center;
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  overflow-x: hidden;
}

#private-routes {
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}

.footer {
  /* max-width: 700; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
  text-align: center;
  position: absolute;
  bottom: 0;
  background: #293241;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.about {
  text-align: left;
  background-color: white;
  color: black;
  min-height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
