.no-preferences-card {
  text-align: center;
  background-color: '#e4eaf0';
  display: inline-block;
  justify-self: center;
  align-self: center;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.no-preferences-card:hover {
  background: rgb(212, 212, 212);
}
